.contact{
    padding: 4rem 2rem;
    max-width: 75rem;
    margin: 0 auto;

}

.contact form{
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
}

.form-group input,.form-group textarea{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: (--text-color);
}

.form-group textarea{
    resize: vertical;
}

.contact button[type='submit']{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
}